Werkzeug==0.14.1
spacy==2.0.9
python_docx==0.8.6
lxml==3.5.0
language_check==1.1
sympound==0.2.0
Flask==1.0
numpy==1.14.2
pyxDamerauLevenshtein==1.5
textblob==0.15.1
nltk==3.2.5
docx==0.2.4
jellyfish==0.6.1
pattern==2.6
