<!DOCTYPE html>
<html>
<head>
	<title>CorrectLy</title>
	<style>
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}
	
	td, th {
	    border: 1px solid #dddddd;
	    text-align: center;
	    padding: 8px;
	}
	
	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	</style>
</head>
<body>
<center>

<h1>Upload a File</h1>
<form action="/file" method=post enctype=multipart/form-data>
  <p><input id="fileupload" type=file name=file>
     <input type=submit value=Upload></p>
</form>

<br><hr><br>

<h1>Type your Text</h1>
<form action="/text" method=post enctype=multipart/form-data>
<textarea name="textupload" rows="4" cols="50">
</textarea><br>
<input type=submit value=Submit>
</form>

<br><hr>
{{wrong}} ➡️ <b>{{correct}}</b>
<hr>
{% if errors is defined %}
	{% for error in errors[:-2] %}
		{{ error[0] }} : <b>{{ error[1] }}</b><br>
	{% endfor %}
	<hr>
	<table>
	<tr>
	<th>Input Sentence Structure</th>
	<th>Output Sentence Structure</th>
	</tr>
	{% for item in errors[-1] %}
		<tr><td>{{ errors[-1][loop.index0] }}</td> <td>{{ errors[-2][loop.index0] }}</td></tr>
	{% endfor %}
	</table>
{% endif %}

</center>

</body>
</html>